<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Profile</h1>
    <p><strong>Name:</strong> {{ user.first_name }} {{user.last_name}}</p>
    <p><strong>Roll number:</strong> {{ user.roll_number }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Age:</strong> {{ user.age }}</p>
    <nav>
        <ul>
            <li><a href="{{ url_for('student.student_info') }}">Edit Student Information</a></li>
            <li><a href="{{ url_for('company.company_list') }}">Company List</a></li>
        </ul>
    </nav>
    <h2>{{notification}}</h2>
    <a href="/logout">LOGOUT</a>
</body>
</html>